.custom-btn {
  padding: 0.8rem 1.5rem;
  
  cursor: pointer;
  font-size: 1.2rem;
  width: 250px;
  transition: all 0.3s ease;
}

/* 
  Primary variant ----------------------------------
*/
.custom-btn.primary {
  border: solid 2px white;
  border-radius: 100px;
  color: white;
  opacity: 1;
  background-color: transparent;
}


.custom-btn.primary:hover {
  color: rgba(87, 22, 133, 0.983);
  background-color: white;
}

/* 
  Features section ------------------------
*/
.custom-btn.features-sec {
  border: solid 2px white;
  border-radius: 100px;
  color: white;
  opacity: 1;
  background-color: black;
  
  display: block;
  margin: 4rem auto;
}

.custom-btn.features-sec:hover {
  background-color: transparent;
  color: black;
  border-color: black;
}
/* 
  Secondary variant ------------------------------
*/
.custom-btn.secondary {
  color: white;
  background-color: transparent;
}

.custom-btn.secondary:hover {
  color: rgba(87, 22, 133, 0.983);
  background-color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .custom-btn {
    width: 200px;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }
} 